<div class="container">
  <hr />
  <h3 class="ms-5">⚝ Carousel Practice ⚝</h3>
  <hr />
  <div class="row mt-3 ms-5">
    <div class="col">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam nesciunt
        accusantium et in! Dolore, impedit rem quaerat quam ullam quis minus
        eligendi nihil! Exercitationem earum distinctio repellat! Minima,
        laboriosam recusandae. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Maxime corrupti repellendus repellat aliquam facilis
        fuga laudantium incidunt magnam officia quis at cupiditate natus, quae,
        adipisci iste mollitia omnis temporibus quas. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. A veniam numquam quis consequatur harum
        perferendis corporis dolorem, ut ipsa quia, voluptas labore fugiat ipsam
        ex corrupti sapiente, odit officia delectus? Lorem ipsum dolor sit amet
        consectetur adipisicing elit. 
      </p>
      <div class="icon-section mt-5 d-flex justify-content-evenly ">
        <a><img class="mt-2" src="assets/images/bag-plus-fill.svg" alt="icon" /></a>
        <a><img class="mt-2" src="assets/images/bookmark-plus.svg" alt="icon" /></a>
        <a><img class="mt-2" src="assets/images/camera.svg" alt="icon" /></a>
        <a><img class="mt-2" src="assets/images/headset.svg" alt="icon" /></a>
      </div>
    </div>

    <div class="col">
      <button
        type="button"
        class="btn btn-light mt-1"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        <img src="assets/images/shoeOne.jpg" />
      </button>
    </div>

    <div id="carousel-render">
      <app-carousel></app-carousel>
    </div>
  </div>
</div>
